
/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

header{
background-color:#CE2829 ;
width: auto;
height: auto;
}
header img {
    margin-top: 2rem;
    margin-bottom: 2rem;

}
header nav {
 font-family: Barlow;
} 


h2{
   font-family: Barlow;
   color: #292929;  
   font-size: 22px;
   line-height: 29.44px;
}*/